/*Octocats*/

/*ul {*/
.octodex {
    list-style: none;
    padding: 0;
}

.octocat {
    float: left;
    width: 30em;
    margin: 1em;
    border-bottom: 2px solid #aeacb1;
}

.octocat img {
    border: 2px solid #c6c1c5;
    max-width: 100%;
    border-radius: 3px;
}

.authors img {
    position: relative;
    float: right;
    width: 10%;
    border-color: transparent;
    vertical-align: middle;
}

ul.authors {
    padding-left: 0;
}

span.image-number {
    font-weight: bold;
    color: #a4a2a8;
    padding-top: 15px;
    display: inline-block;
    font-size: 1em;
    font-family: Arial;
}

.image-caption {
    text-align: right;
    float: right;
    padding-top: 10px;
    padding-bottom: 0.5em;
    width: 70%;
    font-family: Arial;
}

.image-footer {
    position: relative;
}
.image-caption ul,
.image-caption li
{
    display: inline;
}

.image-number::before {
    content: '#';
    margin-right: 1px;
}

a {
    font-weight: bold;
}

.triangle-down::before {
    /*content: '';
    position: relative;
    left: 94%;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 15px 0 15px;
    border-color: #a1a1a1 transparent transparent transparent;
    clear: both;*/
    content:'';
    display:block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #a1a1a1 transparent transparent transparent;
    position: absolute;
    right: 9px;
    top:-6px;
}

/*Vertical Align*/
